body,
html {
  height: 100%;
  margin: 0px;
}


nav li {
  display: inline;
  margin: 20px;
}

nav ul {
  background-color: black;
  margin: 0;
  list-style-type: none;
  width: 100%;
  padding: 20px;
}

nav {
  display: block;
  color: #f5f3f3;
}

nav a {
  color: #555555;
  text-decoration: none;
}

nav a:hover {
  color: blue;
}

.hero-image {
  background-image: url("../images/couple.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  text-align: center;
  color: #910606
}
h2 {
  text-align: center;
  color: #910606
  
}
#main h1
{text-align:left;
  color: black
  
}
ul {
  display: block;
  color: rgb(8, 8, 8);
}
li {
  display: block;
  color:white;
}
#menu a {
  text-decoration: none;
}

#menu ul {
  list-style: none;
  text-align: match parent;
  
}

#menu ul li {
  display: inline;
  width: 200px;
  margin: 30px;
  padding: 10px;
  color: red;
  
}
#main {
  width:70%;
  float:left;
  height: 100%;
  padding:20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {border-style: outset;
border-color: black;}



#side {
  display:block;
  width: 20%;
  float: right;
  height: 100%;
  padding: 20px;
}
#not_red{
  color:black;
  width: 20%;
  position: relative;
  left: 300px;
  
}
img {
  height: 250px;
  width: 100%;
  border: 5px solid rgb(7, 0, 0);
  position: relative;
  left: 300px;
  
  }

.align {
 top:100px;
 color:black;
}